[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Faker = "*"
asgiref = "*"
azure-common = "*"
azure-core = "*"
azure-storage-blob = "<12.0"
channels = "*"
dj-database-url = "*"
django = "*"
django-cache-url = "*"
django-channels-graphql-ws = "*"
django-configurations = "*"
django-cors-headers = "*"
django-filter = ">=2"
django-redis = "*"
django-storages = {version = "*", features = ["azure"]}
djangorestframework = "*"
djangorestframework-simplejwt = "*"
factory-boy = "*"
graphene-django = "*"
graphql-ws = "*"
gunicorn = "*"
markdown = "*"
psycopg2-binary = "*"
uvicorn = "*"
wagtail = "*"
wagtail-grapple = {version = "*", features = ["channels"]}
wagtail-headless-preview = "*"

[dev-packages]
factory_boy = "*"
flake8 = "*"
mccabe = "*"
pyflakes = "*"
pytest = "*"
pytest-django = "*"
tox = "*"
yapf = "*"
